.mat-list-item {
    height: 100% !important;
}

.mat-list-item .item {
    justify-content: center;
    width: 100%;
}

.mat-list-item .item .mat-form-field  {
    width: 80%;
    margin-bottom: 15px;
}


#form .btn {
    margin: 15px 0;
}

.active {
    color: limegreen;
}

.inactive svg {
    fill: limegreen;
}

.clicked-stop {
    background-color: lightcoral;
}

.clicked-home {
    background-color: limegreen;
}

::ng-deep .mat-progress-bar-fill::after {
    background-color: limegreen;
}

::ng-deep .mat-progress-bar-buffer {
    background: #E4E8EB;
}

::ng-deep .mat-progress-bar {
    border-radius: 2px;
}

.mat-table {
    min-width: auto !important;
    width: 100% !important;
}

.mat-header-row {
    width: 100%;
}

.mat-row {
    width: 100%;
}

.mat-column-axis {
    flex: 0 1 auto !important;
    text-align: right;
    padding-right: 15px;
}

.mat-column-value {
    flex: 0 1 auto !important;
    min-width: 62px !important;
    justify-content: center;
}

.mat-column-speedLevel {
    flex: 0 0 75% !important;
    min-width: 124px !important;
    justify-content: flex-end;
}


.matlistelement-label {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px
}